body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: hsl(307, 100%, 50%);
}

.weather-app {
  background-color: #ffe4c4;
  width: 100%;
  height: 80vh;
  margin: 47px auto;
  padding: 30px;
  box-shadow: 0 30px #f0e2d0;
  margin-bottom: 20px;
}

.weather-city {
  margin: 0;
}

header {
  border-bottom: 1px #cfdc1401 solid;
  padding: 0 0 28px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-temp {
  display: flex;
  /* justify-content: space-between;
  /* flex-direction: column; */
}

main {
  padding: 30px;
}

.search-form-input {
  background-color: #00fff6;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 20px 25px;
  font-size: 18px;
}

.search-form-submit {
  background-color: #00fff6;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
}

.weather-icon {
  font-size: 40px;
  margin-top: 20px;
  max-width: 768px
}

.weather-current {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-unit {
  margin-top: 16px;
  font-size: 28px;
}


/* footer {
  border-top: 1px #ffe4c4 solid;
  padding: 28px;
  text-align: center;
  font-size: 16px;
  font-weight: 480;
  color: rgba (0 0 0 0.6);
  background-color: #ffe4c4;
} */
.weather-details {
  border-top: 1px #ffe4c4 solid;
  width: 100%;
  /* max-width: 600px;
  padding: 28px; */
  text-align: center;
  font-size: 16px;
  font-weight: 480;
  color: rgba (0 0 0 0.6);
  background-color: #ffe4c4;
  margin: 0 auto;
}