body {
  background-color: #cfdc1401;
  font-family: "Roboto", sans-serif;
}

a {
  color: #00ffff;
}

.weather-app {
  background-color: #ffe4c4;
  width: 100%;
  max-width: 600px;
  margin: 47px auto;
  padding: 30px;
  box-shadow: 0 30px 50px #f0f0f0;
}

.weather-city {
  margin: 0;
}

header {
  border-bottom: 1px #cfdc1401 solid;
  padding: 0 0 28px 0;
}

.weather-data {
  display: flex;
  justify-content: space-around;
}

main {
  padding: 30px;
}

.search-form-input {
  background-color: #00fff6;
  border: none;
  border-radius: 8 px;
  width: 80%;
  padding: 20px 25px;
  font-size: 18px;
}

.search-form-submit {
  background-color: #00fff6;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
}

footer {
  border-top: 1px hsla(64, 81%, 43%, 0.004) solid;
  padding: 0 28px 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: 480;
  color: rgba (0 0 0 0.6);
}